<!-- <h2 class ="text-center" >Marks Scored By Joseph</h2>
<div class= "bootstrap-wrapper">
    <div class = "container">

        <mat-card-content> 
            <table class ="table text-center">
            <tr>
                <td>Marks </td>
                <td>{{user.testmarks}}</td>
            </tr>
            <tr>
                <td>Test Taken</td>
                <td>{{user.testtaken}}</td>
            </tr>
            <tr>
                <td> Subject </td>
                <td>{{user.subject}}</td>
            </tr>
        </table>

</mat-card-content>
        
    </div>
</div> -->
