<mat-card *ngIf="user">
    <h2>Profile Information</h2>
    <!-- {{user | json}} -->
<mat-card-content> 

<div class= "bootstrap-wrapper">
    <div class = "container">

        <div class = "container text-center">
            <img src = " https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
             alt = " "
             class = "profile-image"
             />
             <h1 class = "mt20 ">{{user.firstName}} {{user.lastName}} </h1>
        </div>

        <div class = "row">

            <div class = "col-md-10 offset-md-1">
                <table class ="table text-center">
                    <tr>
                        <td>Username</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Userid</td>
                        <td>{{user.id}}</td>
                    </tr>
                    <tr *ngIf= "user.phone">
                        <td>Phone</td>
                        <td>7737</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{user.authorities[0].authority}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{user.enabled?"Active":"NotActive"}}</td>
                    </tr>



                </table>


            </div>
        </div>
    </div>
</div>



</mat-card-content>
<mat-card-actions class = "text-center">
    <!-- <button mat-raised-button color = "primary"> UPDATE</button>
    <button mat-raised-button color = "accent"> Share</button> -->
</mat-card-actions>
</mat-card>
